.booking-progress{
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
}
.book-steps{
    margin-block: 60px;
    overflow-y: scroll;
    max-height: 90%;
}

.step-0{
    text-align: center;
}

.step-1{
    
}

.cta{
    justify-content: center;
    background: rgba(255, 255, 255, 0.99);
    width: 100%;
}